* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 850px;
    margin: 50px auto 0 auto;
    text-align: center;
    background-color: lightslategray;
    color: white;
}
h1, h3 {
    color: goldenrod;
    text-shadow: 2px 2px black;
}
.hero {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.navlinks, .actions {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
}
.navlinks {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.navlinks a {
    padding: 10px;
    color: darkblue;
}
.navlinks a:hover {
    color: goldenrod;
    background-color: paleturquoise;
    border-radius: 5px;
    transition: 0.2s;
}
.flex {
    display: flex;
    justify-content: space-around;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: goldenrod;
    background-color: black;
    border-radius: 5px;
    transition: 0.2s;
}
.errors {
    color: red;
}

.messages {
    border: 0.75px solid black;
    text-align: left;
    padding: 10px;
    margin: 5px;
    background-color: lightgray;
    color: #333333;
    height: 100%;
    overflow: scroll;
}
p, table {
    text-align: left;
}
