* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: lightseagreen;
    text-shadow: 2px 2px darkslategrey;
}
body {
    background-color: #666666;
    text-align: center;
    margin: 50px auto 0 auto;
}