* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 800px;
    margin: auto;
    text-align: center;
}
.hero {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}